@import "colors";
@import "fonts";

#aboutSection {
  display: flex;
  height: 800px;
  width: 100vw;
  background-color: $light-color;
  color: $dark-grey;
  font-weight: normal;

  #info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      margin: 10px 0 10px 0;
    }

    h3 {
      font-size: 35px;
      margin: 2% 12% 2% 12%;
      text-align: center;
      font-weight: normal;
    }

    p {
      font-size: 25px;
      margin: 2% 12% 2% 12%;
      line-height: 2.2;
      text-align: center;
    }

    div {
      img {
        margin: 2% 12% 2% 12%;
        float: right;
        clear: right;
      }
    }
  }

  #peoplePic {
    width: 50%;

    img {
      height: 100%;
      width: 100%;
    }
  }
}