@import "colors";
@import "fonts";

#columns {
  width: 100vw;
  background: $three-columns;
  color: $dark-grey;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  .eachColumn {
    text-align: center;
    margin: 0 5% 0 5%;
    h3 {
      font-size: 60px;
      font-weight: lighter;
      margin-bottom: 20px;
    }
    h5 {
      font-weight: lighter;
      margin-bottom: 20px;
      font-size: 14px;
    }
    p {
      font-size: 12px;
      padding-right: 10%;
      padding-left: 10%;
    }
  }
}