@import "colors";
@import "fonts";

#header {
  display: flex;

  .headerDivs {
    width: 50%;
    height: 800px;

    #pic {
      width: 100%;
      height: 100%;
    }

    #dec {
      width: 300px;
      height: 30px;
    }

    #start {
      height: 10%;
      display: flex;
      justify-content: flex-end;
      margin-right: 10%;
      div {
        display: flex;
        align-items: center;
        padding: 10px;
        a {
          text-decoration: none;
          color: $grey;
        }

      }
    }
    #nav {
      height: 10%;
    }

    #begin {
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      #headerButtons {
        display: flex;

        .headerButton {
          height: 100px;
          width: 250px;
          border: 1px solid $grey;
          font-size: 30px;
          font-weight: lighter;
          text-align: center;
          color: $grey;
          margin: 15px;
        }
      }
    }
  }
}